@model IEnumerable<Movies.Models.Movie>


<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Trailer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img style="width:50px;height:70px" src="@Url.Action("GetImage", "Movies", new {id = item.MovieId})" />
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Title)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>

            <td>
                <a class="videoPopUp fancybox.iframe" href="@string.Format("https://www.youtube.com/embed/{0}?autoplay=1", item.Trailer)"><span style="font-size:30px;" class="glyphicon glyphicon-film"></span></a>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MovieId }) 
                <br/><br/>
                <a style="cursor:pointer;" id="@item.MovieId" class="moviesItem">Delete</a>
                
            </td>
        </tr>
    }

</table>
