@model Movies.Models.Movie
@using Movies.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
}
@*Title*@
<h2 class="text-center marginTop-50">@Html.DisplayFor(model => model.Title)</h2>

<div class="row">   
    <hr />
    <div class="col-md-3"><img style="width:100%;height:370px;" src="@Url.Action("GetImage", "Movies", new { id = Model.MovieId }) " /></div>
    <div class="col-md-9">       
        @*Description*@
        <div class="row">
            <div class="col-md-12"><p class="text-center">@Html.DisplayFor(model => model.Description)</p></div>
        </div>
        @*Relesase Date*@
        <div class="row">
            <div class="col-md-12"><p class="text-center">@Html.DisplayFor(model => model.ReleaseDate)</p></div>
        </div>
        @*Scrore*@
        <div class="row">
            <div class="col-md-12"><p class="text-center">@Html.DisplayFor(model => model.Score)</p></div>
        </div>
        <hr/>
        @*Add favorites*@
        @if(User.Identity.IsAuthenticated)
        {
            <div class="row text-center" id="favoriteContainer"></div>
        }
        @*Genres*@
        <div class="row"><div class="col-md-1"><div class="col-md-2"><b>Genre:</b></div></div></div>
        <div class="row marginTop-20">
            <div class="col-md-1"></div>
            @foreach (Genre genre in Model.Genres)
            {
                <div class="col-md-1">@genre.GenreName</div>
            }   
        </div>
        <hr />
        @*Actors*@
        <div class="row"><div class="col-md-1"><div class="col-md-2"><b>Actors:</b></div></div></div>
        <div class="row marginTop-20">
            <div class="col-md-1"></div>
            @foreach(Worker worker in Model.Workers)
            {
                <div class="col-md-2">@worker.Name  @worker.LastName</div> 
            }
        </div>
        <div class="row">
            <div class="col-md-12 marginTop-50 text-center"><a class="btn btn-primary videoPopUp fancybox.iframe" href="@string.Format("https://www.youtube.com/embed/{0}?autoplay=1", Model.Trailer)">Watch Trailer</a></div>
        </div>
    </div>   
</div>
<p class="text-center marginTop-50">
    <a style="font-size:50px;" href="@Url.Action("Index", "Movies")"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>
@section scripts{
    <script>
        @if(User.Identity.IsAuthenticated)
        {
            @:window.Log = true;
        }
        else
        {
            @:window.Log = false;
        }
        $(document).ready(function () {
            window.currentMovie = '@Model.MovieId';
            window.favorites;
            $(".videoPopUp").fancybox({
                maxWidth: 800,
                maxHeight: 600,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
            if (window.Log == true)
            {
                GetFavorites();
            }
            //Get list favorites movies


        });
        function GetFavorites() {
            $.ajax({
                url: '@Url.Action("getFavorites", "Movies")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    window.favorites = JSON.parse(data);
                    console.log(window.favorites);
                    var flag = false;
                    //Check id the current film is in user favorites
                    for (var x = 0; x < window.favorites.length; x++) {
                        if (window.currentMovie == window.favorites[x])
                        {
                            flag = true;                           
                        }
                    }
                    //it is in favorite
                    if (flag == true) {
                        $("#favoriteContainer").empty();
                        $("#favoriteContainer").append("<span style='color:red; font-size:20px;' class='glyphicon glyphicon-heart'></span> This movie is in your favorites");
                    }
                        //It is not in favorites
                    else {
                        $("#favoriteContainer").empty();
                        $("#favoriteContainer").append("<a style='cursor:pointer;' onclick='addFavorites()'><span class='glyphicon glyphicon-plus'></span>Add to Favorites</a>");
                    }
                }
            });
        }
        function addFavorites() {
            var movie = '@Model.MovieId'
            $.ajax({
                url: '@Url.Action("addFavorites", "Movies")',
                data: { "movie": movie },
                type: 'POST',
                success: function () {
                    GetFavorites();
                }
            });
        }

    </script>    
}