@model IEnumerable<Movies.Models.Worker>

@{
    ViewBag.Title = "EditWorker";
}

<h2 class="text-center">Edit Actors</h2>

<div class="alertPlaceHolder"></div>

<div id="WorkerList">
    @Html.Partial("_WorkerPartial", Model)
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            //Remove actor
            $(document).on('click', '.deleteWorker', function (event) {
                var workerId = event.target.name;
            $(".alertPlaceHolder").empty();
            if (confirm("Are you sure?")) {
                $.ajax({
                    url: '@Url.Action("DeleteWorker", "Movies")',
                    data: { "id": workerId },
                    type: 'GET',
                    dataType: 'html',
                    cache: false,
                    success: function (data) {
                        $("#WorkerList").html(data);
                        //Open the alert box
                        bootstrap_alert("warning", "The actor has been deleted successfully");
                    },
                    error: function () {
                        bootstrap_alert("danger", "Ups an error has ocurred :( !!!!!");
                    }
                });
            }
            return false;
            });
            //Add a new Worker
            $(document).on('click', '.addWorker', function (event) {
                var firstName = $(".addFirstNameVal").val();
                var lastName = $(".addLastNameVal").val();
                $(".alertPlaceHolder").empty();
                if (firstName != "" && lastName != "") {
                    $.ajax({
                        url: '@Url.Action("AddWorker", "Movies")',
                        data: { "firstName": firstName, "lastName": lastName },
                        type: 'GET',
                        dataType: 'html',
                        cache: false,
                        success: function (data) {
                            $("#WorkerList").html(data);
                            //Open the alert box
                            bootstrap_alert("success", "The new actor has been added successfully");
                        },
                        error: function () {
                            bootstrap_alert("danger", "Ups an error has ocurred :( !!!!!");
                        }
                    });
                }
            });
            //Order by letter
            $(document).on('click', '.orderBy', function (event) {
                var selection = event.target.id;
                $.ajax({
                    url: '@Url.Action("EditWorkerOrderBy", "Movies")',
                    data: { "selector": selection },
                    type: 'GET',
                    dataType: 'html',
                    cache: false,
                    success: function(data){
                        $("#WorkerList").html(data);
                    },
                    error: function () {
                        bootstrap_alert("danger", "Ups an error has ocurred :( !!!!!");
                    }

                });
            });
            //Edit Worker
            $(document).on('click', '.editWorker', function (event) {
                var workerId = event.target.name;
                var firstName = $("#FirstName_" + workerId + "").html();
                var lastName = $("#LastName_" + workerId + "").html();
                //Replace label by a text box
                $("#FirstName_" + workerId + "").replaceWith("<input class='form-control' id='FirstName_" + workerId + "' value='" + firstName + "' />");
                $("#LastName_" + workerId + "").replaceWith("<input class='form-control' id='LastName_" + workerId + "' value='" + lastName + "'/>");
                $("#saveButton_" + workerId + "").append("<button type='button' name='" + workerId + "' id='button_" + workerId + "' class='btn btn-warning saveButton'>Save</button>");
            });
            //Save edit
            $(document).on('click', '.saveButton', function (event) {
                var workerId = event.target.name;
                var firstName = $("#FirstName_" + workerId + "").val();
                var lastName = $("#LastName_" + workerId + "").val();
                $(".alertPlaceHolder").empty();
                if (firstName != "" && lastName != "") {
                    $.ajax({
                        url: '@Url.Action("SaveWorker", "Movies")',
                        data: { "id": workerId, "firstName": firstName, "lastName": lastName },
                        type: 'GET',
                        dataType: 'html',
                        cache: false,
                        success: function (data) {
                            $("#WorkerList").html(data);
                            bootstrap_alert("success", "The actor has been edited successfully");
                        },
                        error: function () {
                            bootstrap_alert("danger", "Ups an error has ocurred :-( !!!!");
                        }
                    });
                }
            });
            //Bootstrap alert
            bootstrap_alert = function (type, message) {
                $(".alertPlaceHolder").html("<div class='alert alert-" + type + " alert-dismissible' role='alert'>" +
                                            "<button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>" +
                                            "&times;</span><span class='sr-only'>Close</span></button><strong>" + message + "</strong></div>");
            }
        });
    </script>    
}

