@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Movies.Models.Movie>

@Styles.Render("~/Content/moviesIndex")
@{
    ViewBag.Title = "Index";
}
@*Search button and input box*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="middlePage">
        <div class="row">
                <div class="col-md-11"><input class="form-control" type="text" placeholder="Search" id="searchBox"/></div>
                <div class="col-md-1"><input type="submit" value="Search" class="btn btn-default" id="searchButton"/></div>
        </div>
    </div>
}

<h2 class="text-center">Movies</h2>

@*The results section*@
<section class="table" id="mainContent">

    @foreach (var item in Model)
    {
        <div class="row rowHeight">
            <div class="col-md-offset-2"></div>
            <div class="col-md-3"><img class="img-responsive imageStyle" src="@Url.Action("GetImage", "Movies", new { id = item.MovieId })" /></div>
            <div class="col-md-7">
                <div class="row marginBott-20">
                    <div class="col-md-12 marginTop-20 text-center"><b>@Html.DisplayFor(i => item.Title)</b></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><b>@Html.DisplayNameFor(Model => Model.First().Description) :</b><p>@Html.DisplayFor(i => item.Description)</p></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><b>@Html.DisplayNameFor(Model => Model.First().ReleaseDate) :</b><p>@Html.DisplayFor(i => item.ReleaseDate)</p></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><b>@Html.DisplayNameFor(Model => Model.First().Score) :</b><p>@Html.DisplayFor(i => item.Score)</p></div>
                </div>
            </div>
        </div>
        <div class="row marginBott-20">
            <div class="col-md-12 text-center">
                <a class="btn btn-primary videoPopUp fancybox.iframe" href="@string.Format("https://www.youtube.com/embed/{0}?autoplay=1", item.Trailer)">Watch Trailer</a>
            </div>  
        </div>
        <div class="row whiteSpace"></div>
    }
</section>
    @Html.PagedListPager(Model, page => Url.Action("Movies", "Index", new { page }))
    @******************** Test using Knockout ******************@
    @*<div data-bind="foreach: Movies">
            <div class="row rowHeight">
                <div class="col-md-offset-2"></div>
                <div class="col-md-3"><img class="img-responsive imageStyle" data-bind="attr: {src: '@Url.Action("GetImage", "Movies")/'+ MovieId}" /></div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12 margitTop-20"><b>Title: </b><p data-bind="text: Title"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><b>Desciption: </b><p data-bind="text: Description"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><b>Release Date: </b><p data-bind="text: ReleaseDate"></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><b>Score: </b><p data-bind="text: Score"></p></div>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-md-12 text-center"><a class="videoPopUp fancybox.iframe" data-bind="attr: {href:'https://www.youtube.com/embed/'+Trailer+'?autoplay=1'}">Trailer</a></div>  </div>
        </div>*@

    @*****************************************************************@

    @section scripts {
        <script>
            @*$(document).ready(function () {
            function ViewModel(Movies) {
                var self = this;

                self.Movies = Movies;
            };

            var viewModel = new ViewModel(@Html.HtmlConvertToJson(Model));
            ko.applyBindings(viewModel);
        });*@
            
            $(document).ready(function () {
                $(".videoPopUp").fancybox({
                    maxWidth: 800,
                    maxHeight: 600,
                    fitToView: false,
                    width: '70%',
                    height: '70%',
                    autoSize: false,
                    closeClick: false,
                    openEffect: 'none',
                    closeEffect: 'none'
                });

                //Autocomplete Search Box
                $("#searchBox").keyup(function () {
                    var query = $(this).val();
                    
                    getSearch(query);
                });

                function getSearch(query) {
       
                    $.ajax({
                        url: '@Url.Action("search", "Movies")',
                        data: { "query": query },
                        type: 'POST',
                        dataType: 'json',
                        success: function (response) {

                        }
                    });
                        
                    
                    
                }
            });
        </script>
    }
