
@model IEnumerable<Movies.Models.Movie>

<!--Testing Repo-->
<!--Testing2-->
<!--Test3-->
<div class="middlePage ui-widget marginTop-50">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 input-group">
            <input class="form-control" type="text" placeholder="Search" id="searchBox" />
            <span style="cursor:pointer;" value="Search" class="input-group-addon" id="searchButton">Search</span>
        </div> 
        <div class="col-md-3"></div>
    </div>
</div>
<div>
    <hr />
    <h2 class="text-center marginBott-100">@ViewBag.Title</h2>
        @{ 
        int count = 0;
            foreach (var item in Model)
            {
                if (count % 5 == 0)
                {
                    @:<div class="row marginTop-50">   
                    @:<div class="col-md-1"></div>
                }
                <div class="col-md-2" style="height:300px;">
                    <div class="movieContainer">
                        <img class="imageStyleIndex img-responsive" src="@Url.Action("GetImage", "Movies", new { id = item.MovieId }) " />
                        <div class="insideMovie">
                            <a class="btn btn-primary movieButton" href="@Url.Action("Details", "Movies", new { id = item.MovieId }, null)"><span class="glyphicon glyphicon-search"></span> Details</a><br />
                            <a class="btn btn-primary videoPopUp fancybox.iframe movieButton" href="@string.Format("https://www.youtube.com/embed/{0}?autoplay=1&rel=0", item.Trailer)"><span class="glyphicon glyphicon-film"></span> Trailer</a>
                            @if (item.Score < 5)
                            {
                                <p class="marginTop-20"><b><span class="text-danger glyphicon glyphicon-thumbs-down"></span><ins style="color:#ffffff;text-decoration:none;"> @string.Format("{0:N1}", item.Score) /10</ins></b></p>
                            }
                            else
                            {
                                <p class="marginTop-20"><b><span class="text-success glyphicon glyphicon-thumbs-up"></span><ins style="color:#ffffff;text-decoration:none;"> @string.Format("{0:N1}", item.Score) /10</ins></b></p>
                            }
                        </div>
                    </div>
                    <p class="text-center indexTitle"><b>@item.Title</b></p>
                </div>
                count++;
                if (count % 5 == 0)
                {
                    @:<div class="col-md-1"></div>
                    @:</div>
                }
            }
        }
    
      
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var query;
            $(".videoPopUp").fancybox({
                maxWidth: 800,
                maxHeight: 600,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });

            //Autocomple Search box
            $("#searchBox").keyup(function () {
                query = $(this).val();
            });
            //Press enter function in the search
            $("#searchBox").keydown(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13')
                {
                    var url = '@Url.Action("Search", "Movies")' +"?query="+ query;
                    window.location.href = url;
                }
            });
            //Click the serach button
            $("#searchButton").click(function () {
                var url = '@Url.Action("Search", "Movies")' + "?query=" + query;
                window.location.href = url;
            });
            $("#searchBox").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("SearchAutoComplete", "Movies")',
                data: { "query": query },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    var parsed = JSON.parse(data);
                    var myArray = [];
                    for(var x = 0; x < parsed.length; x++){
                        var newObj = {
                            Title: parsed[x].Title,
                            MovieId: parsed[x].MovieId,
                            Cover: parsed[x].Cover,
                            ReleaseDate: parsed[x].ReleaseDate
                        };
                        myArray[x] = newObj;
                        //Limit the autocomplete to 5 results
                        if (x == 4) {
                            break;
                        }
                    }
                    response(myArray);
                },
                error: function (result) {
                    
                }
            });
        },
        create: function (event, ui) {
            var counter = 0;
            $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                    //TODO: add a show all link at the end of the list
                    return $('<li style="width:450px;">')
                        .append("<a href='" + '@Url.Action("Details", "Movies")?id=' + item.MovieId + "'><img style='height:100px;width:80px;margin-right:50px;' src='" + '@Url.Action("GetImage", "Movies")?id=' + item.MovieId + "'/>" +
                        "<b>" + item.Title + " </b>(" + item.ReleaseDate.slice(0,4) + ")</a><br/>")
                        .appendTo(ul);

                    @*return $('<li style="width:500px;">')
                    .append("<a href='" + '@Url.Action("Details", "Movies")?id=' + item.MovieId + "'><img style='height:150px;width:120px;margin-right:150px;' src='" + '@Url.Action("GetImage", "Movies")?id=' + item.MovieId + "'/>" +
                    "<b>" + item.Title + "</b>(movie " + item.ReleaseDate + ")</a><br/>")
                    .append("<a style='font-size:30px;' href='" + '@Url.Action("Search", "Movies")' + "?query=" + query + "'>Show All</a>")
                    .appendTo(ul);*@
            };
        }
    });

});
</script>    
}
